<!doctype html>
<html lang="en">
    <head>
        {% include head.html %}
    </head>
    <body class="two-column">
        {% include header.html %}
        {% include navigation.html %}
        {% capture schedule_simple %}{% include schedule-simple.html %}{% endcapture %}
        {% assign all_content = schedule_simple | prepend: content %}
        <main>
            <aside>
                {% include toc.html html=all_content class='side-menu' ordered=true %}
            </aside>
            <article>
                {% include page_title.html %} 

                <table>
                    <tbody>
                      <tr>
                        <td><strong>Course</strong></td>
                        <td>{{ page.course }}</td>
                      </tr>
                      <tr>
                        <td><strong>Instructors</strong></td>
                        <td>{{ page.professor }}</td>
                      </tr>
                        <td><strong>Class Time</strong></td>
                        <td>{{ page.class_time }}</td>
                      </tr>
                      <tr>
                        <td><strong>Class Location</strong></td>
                        <td>{{ page.class_location }}</td>
                      </tr>
                      <tr>
                        <td><strong>Office Hours</strong></td>
                        <td>{{ page.office_hours }}</td>
                      </tr>
                    </tbody>
                </table>

                {% if page.include_covid_statement %}
                    {% include covid_statement.html %}
                {% endif %}
                                
                {{ content }}

                {{ schedule_simple }}

            </article>  
        </main>

        {% include footer.html %}
        {% include scripts.html %}
        <script type="text/javascript" src="{{site.baseurl}}/assets/js/scrollspy.js"></script>
    </body>
</html>